.arrow {
  &__icon {
        display: block;
    width: 91px;
    height: 60px;
    color: @black;
    transition: color 0.2s;

    @media @bw1340 {
      width: 67px;
      height: 40px;
    }

    &:hover {
      color: @red;
    }
  }
}