.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin: 0;
    font-family: @font2;
    font-size: 45px;
    line-height: 58px;

    @media @bw1340 {
      font-size: 30px;
      line-height: 35px;
    }

    @media @bw768 {
      font-size: 13px;
      line-height: 17px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__lenni {
    margin: 70px 0;
    width: 1920px;
    aspect-ratio: 1920 / 325;

    @media @bw1660 {
      width: 113%;
      margin: 70px -6.5%;
    }

    @media @bw1340 {
      width: 126%;
      margin: 50px -13%;
    }

    @media @bw768 {
      width: 136%;
      margin: 28px -18%;
    }
  }
}
