.page-header__logo {
    margin-left: 293px;
    display: inline-block;
}

.nav {
    margin: 61px auto 62px;
    max-width: 732px;
    min-width: 460px;
    display: inline-block;
}

.page-header__nav-link {
    width: 24%;
    display: inline-block;
}

.page-header__user-link {
    margin-left: 307px;
    padding: 15px 40px;
    border: 1px solid gray;
    display: inline-block;
}

.main-header {
    text-align: center;
    max-width: 518px;
    margin: 0 auto;
}

.section-title {
    color: white;
    background-color: black;
    text-align: center;
    margin: 0 auto 100px;
    max-width: 612px;
}